<header class="header">
  <a routerLink="" class="header__logo">
    <img src="../../../assets/img/logo.png" alt="Logotipo" />
  </a>
  <a routerLink="">
    <h1 class=".header__logo__txt">Play & Games</h1>
  </a>
</header>
<nav
  class="color-nav h-[90px] font-semibold text-xl flex flex-row items-center justify-center"
>
  <div class="w-[20%] h-full flex flex-col justify-center items-center"></div>
  <div class="w-[60%] h-full flex flex-row items-center justify-center">
    <a
      class="mr-4 ml-4 px-4 py-2 rounded transition-all duration-200 hover:bg-yellow-500"
      routerLink=""
      >Inicio</a
    >
    <a
      class="mr-4 ml-4 px-4 py-2 rounded transition-all duration-200 hover:bg-yellow-500"
      routerLink="catalogs"
      >Productos</a
    >
    <a
      class="mr-4 ml-4 px-4 py-2 rounded transition-all duration-200 hover:bg-yellow-500"
      routerLink="sales"
      >Ventas</a
    >
  </div>
  <div class="w-[20%] flex flex-col items-center"></div>
</nav>
