<div class="">
  <main class="contenedor">
    <h1>Pagina Principal</h1>

    <div class="principal">
      <div class="principal__contenido">
        <p class="clase-p">¡Bienvenidos a Play & Games!</p>
        <p>
          En Play & Games, somos una tienda de videojuegos online ampliamente
          reconocida en el sector de los videojuegos. Nuestra pasión por los
          videojuegos nos ha llevado a ofrecer una amplia gama de títulos que
          abarcan desde los juegos clásicos que han dejado huella en la historia
          de los videojuegos hasta las últimas novedades que mantienen a los
          jugadores al borde de sus asientos.
        </p>

        <p>
          ¡Únete a la diversión en Play & Games y prepárate para experimentar el
          mundo de los videojuegos de una manera que nunca imaginaste!
        </p>
      </div>
      <img
        class="principal__imagen"
        src="../../../../assets/img/videojuegos.jpg"
        alt="imagen principal"
      />
    </div>
  </main>

  <section class="contenedor comprar">
    <h2 class="comprar__titulo">¿Porqué Comprar con Nosotros?</h2>

    <div class="bloques">
      <div class="bloque flex flex-col items-center justify-center">
        <img
          class="bloque__imagen"
          src="../../../../assets/img/icon_label.svg"
          alt="porque comprar"
        />
        <h3 class="bloque__titulo">El Mejor Precio</h3>
        <p class="bloque-p">
          Nuestros productos ofrecen precios asequibles sin comprometer la
          calidad.
        </p>
      </div>
      <!--.bloque-->

      <div class="bloque flex flex-col items-center justify-center">
        <img
          class="bloque__imagen"
          src="../../../../assets/img/icon_fast.svg"
          alt="porque comprar"
        />
        <h3 class="bloque__titulo">Entrega Rapida</h3>
        <p class="bloque-p">
          En Play & Games, garantizamos entregas rápidas para que disfrutes de
          tus juegos en tiempo récord.
        </p>
      </div>
      <!--.bloque-->

      <div class="bloque flex flex-col items-center justify-center">
        <img
          class="bloque__imagen max-w-full max-h-full"
          src="../../../../assets/img/icon_free.svg"
          alt="porque comprar"
        />
        <h3 class="bloque__titulo text-center">Envío Gratis</h3>
        <p class="text-center bloque-p">
          ¡Aprovecha nuestros envíos gratis en compras superiores a X cantidad!
        </p>
      </div>
      <!--.bloque-->

      <div class="bloque flex flex-col items-center justify-center">
        <img
          class="bloque__imagen"
          src="../../../../assets/img/icon_prize.svg"
          alt="porque comprar"
        />
        <h3 class="bloque__titulo">La Mejor Calidad</h3>
        <p class="bloque-p">
          En Play & Games, no solo ofrecemos envíos gratis, sino que también te
          garantizamos la mejor calidad en nuestros productos.
        </p>
      </div>
      <!--.bloque-->
    </div>
    <!--.bloques-->
  </section>
</div>
