<div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2">
  <div
    *ngFor="let product of products"
    class="m-[5px] color-juegos mb-[50px] flex flex-col items-center rounded-lg shadow-lg pt-[10px]"
  >
    <div class="w-[250px] h-[300px]">
      <img
        class="w-full h-full"
        src="../../../../assets/img/{{ product.src }}"
        alt="{{ product.name }}"
      />
    </div>
    <div class="px-[10px] py-[10px] text-center">
      <p>{{ product.name }}</p>
    </div>
    <div class="px-[10px]">
      <p>Precio: ${{ product.precio }}</p>
    </div>

    <div class="p-[10px]">
      <button
        data-id="{{ product.id }}"
        (click)="comprar($event)"
        class="m-[10px] text-white bg-yellow-600 px-4 py-2 rounded-lg hover:bg-yellow-700 active:bg-yellow-700 transition-all duration-200"
      >
        Comprar
      </button>
    </div>
  </div>
</div>
