.color-juegos {
  background-color: #03071e;
  color: white;
  transition: background-color 0.2s; 
}

.color-juegos:hover {
  background-color: #03072e;
}

.boton-juegos {
  background-color: #f2e205;
  color: white;
  transition: background-color 0.2s; 
}

.boton-juegos:hover {
  background-color: #f2e207;
}
