<table class="text-center" *ngIf="data.length > 0 ">
  <thead class="header-table text-white">
    <tr>
      <th class="w-[100vw] h-[40px]">ID Venta</th>
      <th class="w-[100vw] h-[40px]">Producto</th>
      <th class="w-[100vw] h-[40px]">Cantidad</th>
      <th class="w-[100vw] h-[40px]">Precio</th>
      <th class="w-[100vw] h-[40px]">Fecha</th>
      <th class="w-[100vw] h-[40px]"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let row of data"
      class="bg-gray-300 border-b-[2px] transition-all duration-200 hover:bg-violet-100 border-violet-200"
    >
      <td class="h-[60px]">{{ row.id }}</td>
      <td class="h-[60px]">{{ getName(row.idProducto, products!) }}</td>
      <td class="h-[60px]">{{ row.cantidad }}</td>
      <td class="h-[60px]">{{ row.precio }}</td>
      <td class="h-[60px]">{{ row.fecha }}</td>
      <td>
        <button
          data-id="{{ row.id }}"
          (click)="deleteSale.emit({$event,cantidadProductosVendido})"
          class="bg-red-500 hover:bg-red-400 text-white transition-all duration-300 cursor-pointer px-3 py-2 rounded-lg"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="data.length === 0">
  <div
  class="w-[300px] h-[100px] bg-gray-300 flex flex-col items-center justify-center border border-black border-top-2 border-bottom-2 border-left-2 border-right-2"
  >
    <h1 class="titulo font-semibold">No hay informacion para mostrar</h1>

  </div>
</div>
